################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################
/backend/ProcurePro.Api/bin
/backend/ProcurePro.Api/obj
/backend/ProcurePro.Api/.vs
/.vs
